@charset "utf.8";

/*Todavía le falta un poco al css. No recuerdo bien si fue con vos que vimos el tema de medidas fijas en height y width, así que por las dudas vuelvo a decirlo pero si ya sabes no me des bola. En general intentá evitar usar medidas fijas porque suelen variar cómo se ven de una pantalla a otra, es preferible arreglarlo con padding, margin o usar porcentajes o vh en vez de px. Vh significa viewport, altura del dispositivo, osea que vendría a ajustarse de acuerdo a cada pantalla. */

.botonera {
    width: 1400px;
    height: 50px;
    background-color: rgb(238, 107, 161);
    padding-top: 20px;
    text-align: center;

}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
}

.botonera a {
    border: 2px solid black;
    padding: 10px 50px;
    color: black;
    text-decoration: none;
}
h1 {
    font-size: 50px;
}

* {
    margin: 0px;
    padding: 0px;
}

.flex-container{
    display: flex;
    background-color: rgb(0, 217, 255);
    width: 1400px;
    height: 1400px;
    flex-direction: row;
    justify-content: flex-end; 
    align-content: flex-start;
    
}

.flex-item{
    background-color: rgb(255, 113, 248);
    text-align: left;
    align-self: auto; 
    
    
}

.a{
    background-color: rgb(34, 122, 199);
    width: 400px;
    height: 400px;
    
    
}

.b{
    background-color: rgb(6, 248, 6);
    width: 400px;
 /*En vez de usar width para ajustar la caja de texto, te convendría usar max-width*/
    height: 400px;
}



