@charset "utf.8";

body {
    font-family: "WorkSansRegular";
    font-size: 18px;
    background-color: rgb(249, 143, 201) ;
}

* {
    margin: 0px;
    padding: 0px;
}

/*------nav-----*/
.botonera {
    height: 70px;
    background-color: rgb(255, 27, 194);
    padding-top: 35px;
    text-align: center;
    
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    font-size: 20px;
    
}
.botonera a:hover{
    color: blueviolet;
    font-size:21px;
}
.botonera a {
    border: 2px solid black;
    padding: 10px 50px;
    color: black;
    text-decoration: none;
}

/*----------Sofia Scursatone----------*/

h1 {
    font-size: 56px;
    padding-top: 30px;
}

.flex-container{
    display: flex;
    background-color: transparent;
    height: 879px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.flex-item{
    background-color: transparent;
    text-align: left;
    align-self: auto;  
}

.a{
    width: 728px;
    height: 879px;
    padding: 20px;   
}

.b{
    max-width: 400px;
    height: auto;
    padding: 20px;

}
.texto{
    padding-top: 5px;
    padding-bottom: 30px;
}

.subtitulo{
    padding-top: 10px;
    font-size:24px;;
}

/*       --------Segunda Parte--------*/

.another-flex-container{
    display: flex;
    background-color:rgb(243, 205, 237);
    height: auto;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;

}

.flex-item{
    background-color: transparent;
    text-align: left;
    align-self: auto; 
}

.c{
    background-color: rgb(101, 69, 231);
    width: 640px;
    height: auto;
    padding: 50px;
    padding-left: 70px;
    align-items: center;    
}

.d{
    background-color:rgb(96, 50, 212);
    width: 640px;
    height: auto;
    padding: 50px;
    align-items: center; 
}

.e{
    background-color: rgb(83, 16, 199);
    width: 640px;
    height: auto;
    padding: 50px;
    align-items: center; 
}

.items {
    list-style: none;
    padding-top: 5px;
    
}

.itemseducación{
    padding-top: 5px;
}

h3 {
    font: family 20px;
}

/*------ingresar tipos-------*/

@font-face {
    font-family: "WorkSansRegular";
    src: url("fonts/WorkSans/WorkSans-Regular.ttf") format(truetype); 
    font-weight: normal;
    font-style: normal;
}

/*------footer-------*/
.flex-container-f{
    display: flex;
    height: 200px;
    background-color:rgb(10, 10, 10);
    justify-content: center;
    align-items: center;
    font-family: "WorkSansRegular";
}

.ulfooter{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: white;
    

}
.libold{
    display:inline;
    font-weight: bold;
    padding: 7px;
    color: white;
    
}
.lifooter{
    display:inline;
    padding-right: 20px;
    color: white;
    
}

#educación{
    color: deeppink;
}

#Intereses{
    color: deeppink;
}

#experiencia{
    color: deeppink;
}